.layui-nav-child .layui-icon {
    padding-right: 10px;
}

.layui-layout-right .layui-icon-logout {
    padding-right: 10px;
}

.layui-nav-tree dd .layui-icon {
    margin-left: 20px
}

iframe {
    width: 100%;
    height: 100%;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}